<%- include('header') -%>
<div>
    <% posts.forEach((post) => { %>
    <div style='background-color: grey;'>
        <p><%= post.topic %></p>
        <hr />
        <img src='<%= post.imageUrl %>' style="width: 20%;">
        <h2>
            <a href='<%= post.link %>'><%= post.title %></a>
        </h2>
        <p>By <a href="<%= post.authors[0].link %>"><%= post.authors[0].name %></a> on <%= post.date %></p>
        <hr />
        <p><%= post.category %></p>
    </div>
    <% }) %>
</div>
<%- include('footer') -%>
